

/*VENUES*/

.flex {
    display: flex;
    justify-content: center;
}


  .venueslistcard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #8d99ae;
    padding: 20px;
    border-radius: 5px;
    
  }


  .venueslistcard img {
    width: 160px;
  }

  .venueslist {
    width: 1200px;
   
    
  }
  
  .venueslistcard button, .btn button {
    padding: 15px 30px;
    background-color: #5ACD51;
    border-color: #5ACD51;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

  }
  
  .venueslistcard button:hover {
    background-color: black;
    
  }
  

  .btn button {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
  }

 .deletebtn button {
    background-color: #D63636;
  }



  /*PROFILE*/

  .profilecardparent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 0px;
    width: 400px;
    height: 500px;
    background-color: #e5e5e5;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    
    
  }

  .profilecardparent img {
    border-radius: 1000px;
    width: 200px;
  }

  .profilecardparent h4 {
    margin-bottom: 0px;
  }

 .usercard {
    display: flex;
    justify-content: center;
 }


 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .form-container form {
    display: grid;
    gap: 10px;
  }
  
  .form-container label {
    font-weight: bold;
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }
  