

/*VENUES*/

.flex {
    display: flex;
    justify-content: center;
}


  .venueslistcard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #8d99ae;
    padding: 20px;
    border-radius: 5px;
    
  }


  .venueslistcard img {
    width: 160px;
  }

  .venueslist {
    width: 1200px;
   
    
  }
  
  .venueslistcard button, .btn button {
    padding: 15px 30px;
    background-color: #5ACD51;
    border-color: #5ACD51;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

  }
  
  .venueslistcard button:hover {
    background-color: black;
    
  }
  

  .btn button {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
  }

 .deletebtn button {
    background-color: #D63636;
  }



  /*PROFILE*/

  .cardparent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 0px;
    width: 400px;
    height: 500px;
    background-color: #e5e5e5;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    
    
  }

  .cardparent img {
    border-radius: 1000px;
    width: 200px;
  }

  .cardparent h4 {
    margin-bottom: 0px;
  }

 .usercard {
    display: flex;
    justify-content: center;
 }