.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 20px 10px;
  color: white;
  background-color: #009dd8;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo a,
.logo p {
  flex: 1;
  color: white;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 2px;
  font-style: oblique;
  padding-left: 18px;
  line-height: 2px;
}

.logo a {
  font-size: 30px;
}

.logo .subtext {
  margin-left: 4vw;
}

.logo .logoname {
  margin-top: 40px;
  display: flex;
  margin-left: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 18px;
  justify-content: center;
  cursor: pointer;
}

.nav-links a,
.profile-dropdown button {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}


.nav-links a.bordered {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  margin-left: 48vw;
  font-size: 25px;
}

.profile-dropdown {
  position: relative;
}

.profile-dropdown button {
  border: none;
  background-color: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #009dd8;
  width: 160px;
  z-index: 1;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
  
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.dropdown-content a:hover {
  background-color: #0190c5;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 430px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #009dd8;
    margin-top: 30px;
    z-index: 10;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .hamburger-menu {
    display: block;
    margin-left: 35vw;
  }

  .logo,
  .hamburger-menu {
    flex: 1;
  }
}
