 .manage {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-left: 30px;
    width: 200px;
   
}

.toggle a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
}
  
.parent {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    flex-direction: column;
    
    
    
}

