.ven-specific-parent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 70px;
 
 
}

.flexspecven {
  display: flex;
  justify-content: center;
  
}


.header {
  padding-top: 100px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-left: 5px;
  
}



.content1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 20px;
}

.content2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 30px;
  padding: 5px;
}

img {
  width: 700px;
  height: 500px;
  object-fit: cover;
}

/* General calendar styling */

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.react-calendar__navigation button {
  background: #f1efef;
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin: 2px;
}

.react-calendar__navigation button:hover {
  background: #888;
}

.react-calendar {
  width: 100%;
  max-width: 500px;
  background: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.react-calendar__tile {
  max-width: initial;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1efef;
  border: none;
  border-radius: 10px;
  border: 1px solid rgb(187, 186, 186);
  width: 10px;
}

.react-calendar__tile--active {
  background: #00aaff;
  color: white;
}

.react-calendar__tile--range {
  background: #00aaff;
  color: white;
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background: #00aaff;
  color: white;
}

.react-calendar__tile--disabled {
  background: #ddd;
  color: #a9a9a9;
}

.react-calendar__tile:hover:not(.react-calendar__tile--disabled) {
  background: #00aaff;
}

.react-calendar__tile--now {
  background: green;
  color: black;
}

.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-left: 20px;
  text-decoration: none;
}

/* Calendar container styling */
.cal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  
}

.calendar-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

}

.calendar-text {
  display: flex;
  justify-content: center;
}


.submit-booking {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #5ACD51;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;

  
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.guest-input {
  margin-bottom: 20px;
  padding-right: 200px;
}

.venue-host img {
  width: 80px;
  height: 80px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.venue-host {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.host-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.included {
  padding: 20px;
}